multi_venv
cachedir
models
runs
results
__pycache__/
*.py[cod]
*$py.class
.python-version

data
*.mp4
*.model
*.pt
*.vocab
*.txt
*.gz
*.npy
*.xml
*.csv
*.png
*.keras
.env
*.mp3
*.jsonl
*.json
*.pdf
*.jpg
db/

*.db

chroma_db/